body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(84, 137, 199);
    color: rgb(6, 6, 54);
    margin: 0;
    text-align: center; 
}
header {
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 15px;
}
h1, h2 {
    color: #000000;
}
main {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: initial;
}
.boton {
    display: inline-block;
    background-color: rgb(84, 137, 199);
    color: #ffffff;
    padding: 10px 15px;
    border: rgb(255, 255, 255);
    border-radius: 15px;
}
img {
    width: 500px;
    border-radius: 10px;
    display: inline-block;
    margin: auto;
}